
.border{
	border: 1px outset #1b4035;
	border-radius: 5px;
	box-shadow: 3px 3px 3px #1b7462;
	padding: 5px 20px;
	margin-bottom: 20px;
}
.borderlist{
	border-top: 1px solid #cbdae3;
}
.borderlist:last-child{
	border-bottom: 1px solid #cbdae3; 
}
.height{
	min-height: 400px;
}
.padtop{
	margin-right: 40px;
	margin-top: -50px;
}
.padright{
	padding-right: 50px;
}
.padleftorder{
	margin-top: -55px;
}
.paddtop{
	margin-top: 0px;
}
.export{
	padding-top: 20px;
}
.paginate{
	margin-top: -30px;
}
.len{
	margin-top: -20px;
}
.active { 
    background: #1b3665;
}
.dashboard{
	padding-bottom: 20px;
}
.paddright{
	margin-right: 40px;
}


.tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 10px solid #ccc;
}
.tip-left {
  top: 10px;
  left: -25px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;  
}
.dialogbox .body {
  position: relative;
  height: auto;
  margin-top: 5px;
  padding: 5px;
  background-color: #DADADA;
  border-radius: 3px;
  border: 5px solid #ccc;
}

.body .message {
  min-height: 30px;
  border-radius: 3px;
  font-family: Arial;
  font-size: 14px;
  line-height: 1.5;
  color: #797979;
}
.labelpd{
	padding-top: 10px;
	padding-left: 10px;
}
.imgset{
  height: 18px;
  width: 18px;
  margin-top: -5px; 
}
.hometop{
  margin-top: -30px;
}